body {
	font-family: Vazirmatn, var(--bs-body-font-family);
}

/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
	color: #e01a76;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

img {
	max-width: 100%;
}

ul.pagination {
	margin-bottom: 0;
}

html[dir='rtl'] .page-item:first-child .page-link {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: var(--bs-pagination-border-radius);
	border-bottom-right-radius: var(--bs-pagination-border-radius);
	margin-left: -1px;
}

html[dir='rtl'] .page-item:last-child .page-link {
	border-top-left-radius: var(--bs-pagination-border-radius);
	border-bottom-left-radius: var(--bs-pagination-border-radius);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.card .alert,
.card .table {
	margin-bottom: 0;
}

html[dir='rtl'] .form-check .form-check-input {
	float: right;
	margin-left: 0.5em;
	margin-right: 0;
}

html[dir='rtl'] .accordion-button::after {
	margin-left: 0;
	margin-right: auto;
}

html[dir='rtl'] .form-select {
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

.sortable-at-sort {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	background-color: var(--bs-highlight-bg);
}
.sortable-at-sort td,
.sortable-at-sort th {
	display: flex;
	flex: 1;
	/* border: 1px solid red; */
}
